<%- include("header") -%>

    <div class="container w-50">
        <div class="row">
            <div class="col">
                <h1 class="text-center">About</h1>
                <p class="about mt-4">Hey! My name is Anastasia. I am a self-taught full-stack developer and web
                    designer with a strong emphasis on creating accessible and uncluttered user experiences.</p>
                <p class="about">Bringing my vision to life and positively impacting people's lives with it has always
                    been my passion. Programming allowed me to do just that , and have unlimited creative expansion with
                    complete control over the direction of my ideas. In everything I build, I strive to provide
                    uniqueness and value with every user interaction. You can check out more of my projects below
                    &#58;&#41;</p>
                <div class="button-container d-flex flex-wrap justify-content-center mt-4 gap-4 text-center">
                    <a href="https://github.com/Anabel7213" class="button">Github</a>
                    <a href="https://www.behance.net/abielievitina" class="button">Behance</a>
                    <a href="https://www.linkedin.com/in/anastasia-bielievitina-b20396259/" class="button">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>